.modal_kabotya{
	background-color: rgba(250,250,250,0.75);
	height: 500px;
	width: 700px;
	z-index: 100;
	position: absolute;
	display: none;
}

.kabotya_map_contents {
	height: 400px;
	text-align: center;
	width: 700px;
}

.map_location {
	height: 400px;
	position: absolute;
	width: 700px;
	z-index:200;
}

.location_point {
	height: 50px;
	margin-left: 120px;
	margin-top: 280px;
	width: 50px;
}

.kabotya_map_contents img {
	height: 400px;
	width: 650px;
}

.spot_contents {
	height: 400px;
	width: 700px;
}

.spot_contents_img {
	height: 300px;
	text-align: center;
	margin-top: 10px;
	width: 700px;
}

.spot_contents_img img {
	height: 300px;
	width: 500px;
}

.spot_contents_text {
	background-color: #eaeaff;
	border: double 10px #ffc993;
	border-radius: 30px;
	height: 50px;
	margin: 10px auto;
	overflow: hidden;
	padding: 10px;
	width: 650px;
}

.event_contents {
	height: 400px;
	width: 700px;
}

.event_contents_img {
	height: 300px;
	text-align: center;
	margin-top: 10px;
	width: 700px;
}

.event_contents_img img {
	height: 300px;
	width: 300px;
}

.event_contents_text {
	background-color: #eaeaff;
	border: double 10px #ffc993;
	border-radius: 30px;
	height: 50px;
	margin: 10px auto;
	overflow: hidden;
	padding: 10px;
	width: 650px;
}

.goal_main {
	border:solid 1px #f00;
	height: 400px;
	width: 700px;
}

.button_map {
	height: 100px;
	width: 100px;
}