#modal{
	background-color: rgba(0,0,0,0.75);
	height: 500px;
	width: 700px;
	z-index: 100;
	position: absolute;
	display: none;
}
#main {
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}

#collection{
	display: none;
}

#item{
	display: block;
}


.mass {
	border: solid 1px #fff;
	position: relative;
	width: 300px;
	z-index: 50;
}

.navi {
	bottom: 0%;
	height: 80vh;
	position: absolute;
	right: 10px;
	z-index: 50;
}

.navi ul {
	list-style-type: none;
}

.button {
	height: 100px;
	width: 100px;
}

.roulette {
	height: 200px;
	width: 200px;
}

.item{
	height: 200px;
	width: 200px;
}

