#modal{
	background-color: rgba(250,250,250,0.75);
	height: 500px;
	width: 700px;
	z-index: 100;
	position: absolute;
	display: none;
}

#start{
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 60;
	background-color: green;
	display: block;
}

#main {
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}

#collection{
	display: none;
}

#item{
	display: block;
}


.mass {
	border: solid 1px #fff;
	position: relative;
	width: 300px;
	z-index: 50;
}

.navi {
	bottom: 0%;
	height: 80vh;
	position: absolute;
	right: 10px;
	z-index: 50;
}

.navi ul {
	list-style-type: none;
}

.button {
	height: 100px;
	width: 100px;
}

#mato {
	height: 200px;
	width: 200px;
}

.item{
	height: 200px;
	width: 200px;
	border:dashed 3px orange;
	border-radius: 20px;
	margin: 10px;
}

.collection{
	height: 200px;
	width: 200px;
	border:dashed 3px orange;
	border-radius: 20px;
	margin: 10px;
}

.start_image{
	height: 300px;
	width: 350px;
	margin: 10%;
}

.start_button {
	height: 100px;
	width: 200px;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #248;
    color: #fff;
    border-style: none;
     box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}
.start_button:hover{
	background-color: #24d;
	color: #fff;
}

.kwsk{
	background-color: rgba(250,250,250,0.75);
	height: 500px;
	width: 700px;
	z-index: 100;
	position: absolute;
	display: none;
}

.kwsk_header img{
	height: 350px;
	width: 350px;
	border:solid #ffb6c1;
	margin-left: 20%;
}

.kwsk_text{
	margin:10px 5px 10px;
	padding: 1em;
	border: 3px solid #ccc;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;

}

.kwsk_menu{
	font-weight:bold; 
	height: 50px;
	width: 100px;
	}

    
}